/* styling variables */

:root {
    --light-color: white;
    --mid-color: white;
    --dark-color: #243246;
    --button-color: var(--dark-color);
    --button-text-color: var(--light-color);
    --button-hover-color: #3e577a;
    --button-disabled-color: #243246a8;
    /* padding */
    --padding-main: 1em;
}

/* typefaces */

font-face {
    font-family: 'Klinic Slab';
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/KlinicSlabMedium.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: italic;
    font-weight: normal;
    src: url(/fonts/KlinicSlabMediumIt.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: normal;
    font-weight: bold;
    src: url(/fonts/KlinicSlabBold.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: italic;
    font-weight: bold;
    src: url(/fonts/KlinicSlabBoldIt.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/KlinicSlabBook.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/KlinicSlabBookIt.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/KlinicSlabLight.otf);
  }
  
  @font-face {
    font-family: 'Klinic Slab';
    font-style: italic;
    font-weight: 200;
    src: url(/fonts/KlinicSlabLightIt.otf);
  }

/* main page styling */

@media (prefers-color-scheme: dark) {
    :root {
        --light-color:  #243246;
        --mid-color: #344256;
        --dark-color:white;
        --button-hover-color: rgb(200,200,200);
        --button-disabled-color: rgb(220,220,220);
    }
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

a {
    color: var(--dark-color);
}

.App {
    font-family: 'Klinic Slab', sans-serif;
    font-size: 1.4em;
    line-height: 1.2em;
    width: 100%;
    font-variant-numeric: oldstyle-nums;
    display: grid;
    grid-template-areas: "intro main";
    grid-template-columns: 33vw auto;
    grid-template-rows: 1fr;
}

@media only screen and (max-width: 798px) {
    .App {
        display: grid;
        grid-template-areas: "intro"
        "main";
        grid-template-columns: 1fr;
    }
}

/* intro section */

.App .introSection {
    background-color: var(--mid-color);
    grid-area: intro;
    padding: var(--padding-main);
}

.App header .logo svg {
    height: 60px;
    fill: var(--dark-color);
}

.App .introSection h1 {
    font-size: 1.2em;
    padding: calc(var(--padding-main) / 2) 0;
}

.App .introSection h2 {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 500;
}

.App .introCopy {
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .App .introSection h1 {
        font-size: 1.2em;
    }
    .App .introSection div {
        font-size: 0.8em;
    }
    .App .introCopy {
        width: 100%;
    }

    /* hide the long intro on mobile */
    .App .introCopy p {
        display:none;
    }
    .App .introCopy p:first-child {
        display:block;
    }
}

/* posts */

.App main {
    grid-area: main;
    padding: var(--padding-main);
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    .App main {
        margin-top: 10px;
    }   
}

.post h2 {
    margin: 0;
    padding: 0 0 0.2em 0;
    line-height: 1.2em;
    max-width: 90%;
}

.post .text {
    font-weight: 400;
}

/* footer */

.App footer {
    grid-area: footer;
}